:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: #49a6e9;
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-gold: #c59d5f;
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    --max-width: 1170px;
    --fixed-width: 620px;
  }
  

body{
    font-family: 'Pacifico', cursive;
      font-size: 15px; 
      padding-top: 3em;
      cursor: pointer;
      background-color: #D9AFD9;
      background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

textarea {
  outline: none;
  border: none;
}

input[type="datetime-local"]{
  /* width:120px; */
  outline:none;
  border: none;
  outline: none;
}
.column {
  margin-left: 5%;
  float: left;
  width: 40%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.responsive-image {
  max-width: 300px;
  height: auto;
  display: block;
  /* margin-left: 5%; */
  margin-right: auto;
  margin-top: 30px;
  width: 50%;
  
}

textarea {
  outline: none;
  /* border: none; */
  float: left;
  width: 100%;
  min-height: 75px;
  outline: none;
  resize: none;    

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.deadline {
  display: flex;
}
.deadline-format-1 {
  background: var(--clr-grey-1);
  color: var(--clr-white);
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  display: grid;
  /* place-items: center; */
  text-align: center;
}

.deadline-format-1 span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}

.deadline-format-2 {
  background: var(--clr-grey-1);
  color: var(--clr-white);
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  display: grid;
  /* place-items: center; */
  text-align: center;
}

.deadline-format-2 span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}

.deadline-format-3 {
  background: var(--clr-grey-1);
  color: var(--clr-white);
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  display: grid;
  /* place-items: center; */
  text-align: center;
}

.deadline-format-3 span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}

.deadline h4:not(.expired) {
  /* font-size: 2rem; */
  margin-bottom: 0.25rem;
  letter-spacing: var(--spacing);
  font-weight: bold;
}

.title-input{
  font-size: 22px;
  font-weight: bold;
}

.description-input{
  font-size: 14px;
}
.containers{
    display:grid;
    justify-content: center;
}
.left,.center,.right{
    justify-content: center;
}
.section-card {
    background: var(--clr-white);
    border-radius: var(--radius);
    box-shadow: var(--dark-shadow);
    transition: var(--transition);
    width: 90%;
    height: 350px;
    padding: 0.5rem;
    margin-left: 5%;
  }
.buttons{  /*remove grey color from buttons*/
    background-color: white;
    color:black;
    border:1px solid black;
    /* border-radius: 1px; */
    transition-duration: 0.4s;
    padding:5px  5px;
    text-align:center;
    text-decoration: none;
    font-size:12px;
    /*width:60px ;*/
    width:fit-content;

}
.buttons:hover{
    background-color: black;
    color:white;
}
  .bottom{
    align-items: baseline;
    width: 50%;
    padding-right: 5rem;
    margin-left: 41%;

  }
.newButton{  /*remove grey color from buttons*/
    background-color: white;
    color:black;
    border:1px solid black;
    /* border-radius: 3px; */
    transition-duration: 0.4s;
    padding:5px  5px;
    text-align:center;
    text-decoration: none;
    font-size:12px;
    width:fit-content;
    animation: cubic-bezier(1, 0, 0, 1);
    margin-top: 15px;
}
.newButton:hover{
    background-color: black;
    color:white;
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
visibility: hidden; /* Hidden by default. Visible on click */
min-width: 250px; /* Set a default minimum width */
margin-left: -125px; /* Divide value of min-width by 2 */
background-color: #333; /* Black background color */
color: #fff; /* White text color */
text-align: center; /* Centered text */
border-radius: 2px; /* Rounded borders */
padding: 16px; /* Padding */
position: fixed; /* Sit on top of the screen */
z-index: 1; /* Add a z-index if needed */
left: 50%; /* Center the snackbar */
bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
visibility: visible; /* Show the snackbar */
/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
from {bottom: 0; opacity: 0;}
to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
from {bottom: 0; opacity: 0;}
to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
from {bottom: 30px; opacity: 1;}
to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
from {bottom: 30px; opacity: 1;}
to {bottom: 0; opacity: 0;}
}

