.heading{
    display:flex;
    align-items:center;/*not working*/
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

body{
    /* background: linear-gradient(45.34deg, #EA52F8 5.66%, #0066FF 94.35%); */
    background:linear-gradient(89deg, #FF5EDF 0%, #04CBDE 100%);
    /* background-image:url(urban-line-315.png) ; */
}
#columns{
    display:flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}