/*
use flexbox for columns-
https://css-tricks.com/snippets/css/a-guide-to-flexbox/


make checkbox in to-do
*/
.body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px; 
    padding-top: 3em;
    cursor: pointer;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

/* * {
    box-sizing: border-box;
 } */

 

 .left, .right, .center {
    float: left;
    width: 33%;
    padding: 10px;
    height: 600px;
    text-align: center;
 }

 .bottom{
    float: top;
    align-items: baseline;
    width:100%;    
    margin-left:47%;
   
    
}
 
 /* .container:after {
    clear: both;
 } */

  
.h1{
    font-family: 'Times New Roman', Times, serif;
    color:black ;
    text-align:center;
    border:5px solid black;
 
 
 }
 .wrapper{
     padding:5pz;
     max-width: 960px;
     width: 95%;
     margin:20px auto;
 }
.column{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    margin:5px;
}
 
.input{  /*not woking*/
    /*border:none;
    border-color: transparent;*/
    outline:none;
}

/* https://www.w3schools.com/css/css3_buttons.asp */

/*white base,black text,black border,on hover black*/
.buttons{  /*remove grey color from buttons*/
    background-color: white;
    color:black;
    border:1px solid black;
    /* border-radius: 1px; */
    transition-duration: 0.4s;
    padding:5px  5px;
    text-align:center;
    text-decoration: none;
    font-size:12px;
    /*width:60px ;*/
    width:fit-content;

}
.buttons:hover{
    background-color: black;
    color:white;
}
.delButton:hover{
  background-color: black;
    color:white;
}
/* table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {background-color:#f5f5f5;} */
  #todoTable1 {
    border-collapse: collapse;
    width: 70%;
    text-align: center;
    text-size-adjust: 10%;
  }
  #todoTable1 th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  #todoTable1 tr:hover {background-color:#f5f5f5;}

  #todoTable2 {
    border-collapse: collapse;
    width: 70%;
    text-align: center;
    text-size-adjust: 10%;
  }
  #todoTable2 th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  #todoTable2 tr:hover {background-color:#f5f5f5;}

  .heading{
    background-color: rgb(186, 224, 248);
    margin-top: 30px;
    padding-top: 7px;
    margin-right: 50px;
    margin-bottom: 10px;

  }
  #title3{
    margin-top: 30px;
    padding-top: 7px;
    margin-right: 50px;
    margin-bottom: 10px;
  }
  #todoTable3 {
    border-collapse: collapse;
    width: 70%;
    text-align: center;
    text-size-adjust: 10%;
  }
  #todoTable3 th{
    background-color:#C6C6C6;
  }
  #todoTable3 th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  #todoTable3 tr:hover {background-color:#f5f5f5;}


.newButton{  /*remove grey color from buttons*/
    background-color: white;
    color:black;
    border:2px solid black;
    border-radius: 3px;
    transition-duration: 0.4s;
    padding:5px  5px;
    text-align:center;
    text-decoration: none;
    font-size:12px;
    width:fit-content;
    animation: cubic-bezier(1, 0, 0, 1);
}
.newButton:hover{
    background-color: black;
    color:white;
}


